@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes logoSpectra {
  0%, 100% {
    transform: scale(1);
    filter: brightness(100%);
  }
  50% {
    transform: scale(1.06);
    filter: brightness(130%);
  }
}

.animate-logoSpectra {
  animation: logoSpectra 2.5s ease-in-out infinite;
}
